.Board {
	min-height: 100vh;
	padding: 3rem;
	background-color: #5096B3;
	flex-wrap: wrap;
  }
  
  .boardItem {
	display: flex;
	gap: 1rem;
  }
.addNewlist{
	border-radius: 7px;
	border: none;
	outline: none;
	text-align: center;
	padding: 0;
	margin: 0 0 2px 0;
	width: 100%;
	height: 2em;
}

