.Mod {
  background-color: #eef5f8;
  /* min-height: 40vw; */
}

/* .ModContent {
  width: 800px;
}

@media only screen and (max-width:800px) {
  .ModContent {
    width: 15%;
  }
} */

.modal-header {
  border-bottom: "1px solid #b9b9b9";
}
h6 {
  color: rgb(54, 54, 54);
}

.plus {
  border-radius: 50%;
  font-size: 2.2em;
  font-weight: lighter !important;
  padding: 0.25em;
  background-color: #d8d8d8ce;
}

.plus:hover {
  background-color: #b9b9b9ad;
  cursor: pointer;
  padding: 0.2em;
}

.cross {
  font-size: 2.8em;
  font-weight: lighter;
  padding: 0.2em;
}

.cross:hover {
  border-radius: 50%;
  height: 0.7em;
  font-size: 4em;
  cursor: pointer;
  background-color: #d8d8d8ce;
}

@media (min-width: 576px) {
  .cross:hover {
    margin-left: 5.78em;
  }
}

@media (min-width: 992px) {
  .cross:hover {
    margin-left: 10.46em;
  }
}

@media (max-width: 576px) {
  .cross:hover {
    margin-left: 15%;
  }
}

/* @media (min-width: 576px) {
}
.modal-dialog {
  width: 90% !important;
} */

.CardDiv {
  margin-bottom: 25px !important;
}

@media (min-width: 576px) {
}
.modal-dialog {
  max-width: 600px !important;
  margin: 1.75rem auto;
}

input {
  border-radius: 5px;
  border: 1px solid rgb(185, 185, 185);
  overflow: hidden;
  overflow-wrap: break-word;
}

.descInp input:focus {
  background-color: #d8d8d8ab;
}

.descInp input {
  width: 100%;
  height: 100px;
  padding: 20px 15px 80px;
}

.actInp input:focus {
  background-color: #d8d8d8ab;
}

.actInp input {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
}

.check input:focus {
  background-color: #d8d8d8ab;
}

.check input {
  height: 35px;
  width: 90%;
  padding: 0px 15px;
}

.check {
  display: flex;
  background: #fff;
  border-radius: 0.75rem;
  position:relative;
  padding: 5px;
  margin: 0.2em;
  min-width:260px;
  width:270px;
}

.checkBut:active {
  border: transparent !important;
}

.checkBut {
  margin: 2.5px 10px;
  height: 30px;
  width: 100px;
  padding-bottom: 20px;
}

.checkItems {
  margin-bottom: 10px;
}
.checklist{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  cursor: pointer;
  margin: 0;
  background: #fff;
  border-radius: 0.75rem;
  position:relative;
  padding: 3px;
  margin: 0.2em;
  min-width:270px;
  width:max-content;
}
.checklist input{
  height:20px;
  width:20px;
  margin-right:3px;
}
.checkbox{
  display:flex;
  justify-content: flex-start;
  padding:5px;
  width:90%;
  border:1px solid #B9B9B9;
  border-radius: 5px;
}
.crossIcon{
  font-size:15px;
  transition: all 1s ease-out 0s;
  margin:auto;
}
.crossIcon:hover{
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out 0s;
}
.modal{
  width:50vw;
}
.addIcon{
  font-size: 25px;
  margin:auto;
}
